#index_body{
    height: 400px;
}
.search-container{
    position: relative;
}
.autocomplete-suggestions {
    position: absolute;
    width: 100%;
    border: solid 1px #ddd;
    right: 0;
    margin-top: 2px;
    max-height: 300px;
    overflow: auto;
    display: none;
    background: #fff;
    z-index: 999;
}
.autocomplete-suggestions a {
    display: block;
    padding: 10px;
    overflow: hidden;
}
.autocomplete-suggestions a img {
    width: 60px;
    float: left;
}
.autocomplete-suggestions a .info {
    display: block;
    margin-left: 65px;
}
.autocomplete-suggestions a .info .name {
    display: block;
    color: #333;
}
.autocomplete-suggestions a .info .price {
    color: #ec1c24;
}